<html>
<head>
    <script src="assets/js/dependencies/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <script src="https://cdn.jsdelivr.net/npm/meyda@4.3.1/dist/web/meyda.min.js"></script>
</head>
<body>
    <button id="mic_start_btn">Mic Start</button>
    <button id="record_btn">Record</button>
    <button id="train_btn">Train</button>
    <button id="listen_btn">Listen</button>
    <video id="video" width="600px" height="480px" autoplay="1" style="position:absolute;"></video>
    <canvas id="video_canvas" width="600px" height="480px" style="position:absolute;"></canvas>
    <script src="assets/js/main.js"></script>
</body>
</html>
